.elementor-97 .elementor-element.elementor-element-1e2a167 {--divider-border-style: solid;--divider-border-color: #d44d5c;--divider-border-width: 1px;}
.elementor-97 .elementor-element.elementor-element-1e2a167 .elementor-divider-separator {width: 100%;}
.elementor-97 .elementor-element.elementor-element-1e2a167 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-97 .elementor-element.elementor-element-7d2ec9e .elementor-text-editor {text-align: center;}
.elementor-97 .elementor-element.elementor-element-7d2ec9e {color: #d44d5c;font-size: 83px;}
.elementor-97 .elementor-element.elementor-element-1df4911 {--divider-border-style: solid;--divider-border-color: #d44d5c;--divider-border-width: 1px;}
.elementor-97 .elementor-element.elementor-element-1df4911 .elementor-divider-separator {width: 100%;}
.elementor-97 .elementor-element.elementor-element-1df4911 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-97 .elementor-element.elementor-element-5a3f461 .elementor-image img {opacity: 1;}
.elementor-97 .elementor-element.elementor-element-5a3f461 .widget-image-caption {color: #fff;background-color: #ff9e9e;font-weight: 900;letter-spacing: 8.2px;}
.elementor-97 .elementor-element.elementor-element-bbf9a7e .elementor-image-carousel-caption {text-align: center;}
.elementor-97 .elementor-element.elementor-element-490063a .elementor-text-editor {text-align: center;}
.elementor-97 .elementor-element.elementor-element-490063a {color: #d44d5c;}
.elementor-97 .elementor-element.elementor-element-64fb87a .elementor-icon-list-icon i {color: #d44d5c;font-size: 100px;}
.elementor-97 .elementor-element.elementor-element-64fb87a .elementor-icon-list-icon svg {fill: #d44d5c;width: 100px;}
.elementor-97 .elementor-element.elementor-element-64fb87a .elementor-icon-list-text {color: #d44d5c;}
.elementor-97 .elementor-element.elementor-element-64fb87a .elementor-icon-list-item {font-size: 34px;}
.elementor-97 .elementor-element.elementor-element-f070c24 {--divider-border-style: solid;--divider-border-color: #d44d5c;--divider-border-width: 1px;}
.elementor-97 .elementor-element.elementor-element-f070c24 .elementor-divider-separator {width: 100%;}
.elementor-97 .elementor-element.elementor-element-f070c24 .elementor-divider {padding-top: 10px;padding-bottom: 10px;}
.elementor-97 .elementor-element.elementor-element-55ead12 {color: #d44d5c;}
.elementor-97 .elementor-element.elementor-element-5bf9f29 {--divider-border-style: dotted;--divider-border-color: #d44d5c;--divider-border-width: 4.4px;}
.elementor-97 .elementor-element.elementor-element-5bf9f29 .elementor-divider-separator {width: 100%;}
.elementor-97 .elementor-element.elementor-element-5bf9f29 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-97 .elementor-element.elementor-element-242edb9 {text-align: center;}
.elementor-97 .elementor-element.elementor-element-242edb9.elementor-widget-heading .elementor-heading-title {color: #d44d5c;}
.elementor-97 .elementor-element.elementor-element-242edb9 .elementor-heading-title {font-family: "Chelsea Market",Sans-serif;}
.elementor-97 .elementor-element.elementor-element-818c199 .elementor-testimonial-content {color: #d44d5c;font-size: 18px;}
.elementor-97 .elementor-element.elementor-element-818c199 .elementor-testimonial-name {color: #d44d5c;}
.elementor-97 .elementor-element.elementor-element-d74662d .elementor-testimonial-content {color: #d44d5c;font-size: 20px;}
.elementor-97 .elementor-element.elementor-element-d74662d .elementor-testimonial-name {color: #d44d5c;}
.elementor-97 .elementor-element.elementor-element-8e1463b .elementor-testimonial-content {color: #d44d5c;font-size: 19px;}
.elementor-97 .elementor-element.elementor-element-8e1463b .elementor-testimonial-name {color: #d44d5c;}
.elementor-97 .elementor-element.elementor-element-79a963d a.elementor-button, .elementor-97 .elementor-element.elementor-element-79a963d .elementor-button {fill: #fff;color: #fff;background-color: #d44d5c;}
.elementor-97 .elementor-element.elementor-element-79a963d .elementor-button {box-shadow: 3px 1px 10px -4px rgba(0,0,0,.5);}
@media (min-width:768px) {.elementor-97 .elementor-element.elementor-element-82f201b {width: 30.92%;}
	.elementor-97 .elementor-element.elementor-element-b596229 {width: 29.563%;}
	.elementor-97 .elementor-element.elementor-element-e9a9f9b {width: 34.842%;}
	.elementor-97 .elementor-element.elementor-element-7328225 {width: 4.619%;}}